<template>
  	<div class="db-widget-embeded-code">
        <textarea class="form-control" rows="10" v-model="widgetEmbededCode" @focus="$event.target.select()" ref="embededCode"></textarea>
  	</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({})
export default class DpWidgetEmbededCode extends Vue {
    @Prop({ type: String })
    readonly widgetEmbededCode!: string;
}
</script>
