<template>
  	<div class="widget-generator-form">
        <div class="step">
            <div class="step-header">
                <div class="step-number">1</div>
                <h5>Search for your profile on ZnanyLekarz or enter the link to the profile.</h5>
            </div>
            <div class="row step-input">
                <div class="col-lg-12">
                    <DpDoctorFacilityAutocomplete @profile-selected="onProfileSelected" />
                </div>
            </div>
        </div>
        <div class="step" v-if="isProfileSelected">
            <div class="step-header">
                <div class="step-number">2</div>
                <h5>Choose one of the recommended widget types.</h5>
            </div>
            <div class="row step-input">
                <div class="col-lg-12">
                    <DpTypesOfWidgetDropdown @type-selected="onTypeSelected" :selected-type="selectedType"/>
                </div>
            </div>
        </div>
        <div class="submit-form">
            <button class="btn btn-primary" @click="generateCode" :disabled="!isProfileSelected">
                Generate the widget code
            </button>
        </div>
        <div class="step" v-if="shouldShowWidgetCode">
            <div class="step-header">
                <div class="step-number">3</div>
                <h5>You are only one step away from linking your ZnanyLekarz profile to your website.<br/> <a href="#">How do I add a widget to my website?</a></h5>
            </div>
            <div class="row step-input">
                <div class="col-lg-12">
                    <DpWidgetEmbededCode :widget-embeded-code="widgetCode" />
                </div>
            </div>
            <div class="step-footer">
                <p>Do you need support?</p>
                <p>Don't worry about a thing. Our specialists will prepare and add a widget to your website. If you want to use this option for free, <a href="#">please let us know.</a></p>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import DpDoctorFacilityAutocomplete from '../../_common/DpDoctorFacilityAutocomplete/DpDoctorFacilityAutocomplete.vue';
import DpTypesOfWidgetDropdown from '../../_common/DpTypesOfWidgetDropdown/DpTypesOfWidgetDropdown.vue';
import DpWidgetEmbededCode from '../../_common/DpWidgetEmbededCode/DpWidgetEmbededCode.vue';

import { Doctor } from '@/models/Doctor';
import { Facility } from '@/models/Facility';

import { widgetGeneratorStore } from '../WidgetGenerator.store';
import { WidgetTypeEnum } from '@/models/Widget';

@Component({
    components: {
        DpDoctorFacilityAutocomplete,
        DpTypesOfWidgetDropdown,
        DpWidgetEmbededCode
    }
})
export default class WidgetGeneratorForm extends Vue {
    get shouldShowWidgetCode() {
        return widgetGeneratorStore.shouldShowWidgetCode;
    }

    get isProfileSelected() {
        return widgetGeneratorStore.selectedProfile !== null;
    }

    get widgetCode() {
        return widgetGeneratorStore.widgetEmbededCode;
    }

    get selectedType() {
        return widgetGeneratorStore.selectedType;
    }

    onProfileSelected(doctorFacility: Doctor | Facility) {
        widgetGeneratorStore.setSelectedProfile(doctorFacility);
        widgetGeneratorStore.getWidget();
        widgetGeneratorStore.setWidgetEmbededCode();
    }

    onTypeSelected(type: WidgetTypeEnum) {
        widgetGeneratorStore.setSelectedType(type);
        widgetGeneratorStore.getWidget();
        widgetGeneratorStore.setShouldShowWidgetCode(false);
    }

    generateCode() {
        widgetGeneratorStore.setWidgetEmbededCode();
        widgetGeneratorStore.setShouldShowWidgetCode(true);
    }
}
</script>

<style lang="scss">
.widget-generator-form {
    .step {
        margin-bottom: 30px;

        &-header {
            display: flex;
            margin-bottom: 10px;

            .step-number {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                font-size: 15px;
                color: #3d83df;
                background-color: #eef4fd;
                margin-right: 15px;
                flex-shrink: 0;
            }

            h5 {
                font-size: 15px;
                font-weight: normal;
            }
        }

        &-footer {
            p {
                font-size: 15px;
                font-weight: normal;
                margin-bottom: 10px;

                &:first-of-type {
                    margin-top: 15px;
                }
            }
        }
    }
    
    .submit-form {
        margin-top: 15px;

        button {
            width: 100%;
            font-size: 15px;
            margin-bottom: 20px;
        }
    }
}
</style>
