<template>
  	<div class="dp-doctor-facility-autocomplete">
        <input class="form-control" type="text" v-model="form.search" />

        <ul 
            v-if="isOpen && doctorFacilitiesResults.length"
            class="results-list">
            <li v-for="df in doctorFacilitiesResults" 
                :key="df.id"
                @click="selectDoctorFacility(df)">
                <img :src="df.image" />
                {{ df.name + ' ' + getSurname(df) }}
            </li>
        </ul>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

import { Doctor } from '@/models/Doctor';
import { dpDoctorFacilityAutocompleteStore } from './DpDoctorFacilityAutocomplete.store';
import { widgetGeneratorStore } from '@/components/WidgetGenerator/WidgetGenerator.store';
import { Facility } from '@/models/Facility';

@Component({})
export default class DpDoctorFacilityAutocomplete extends Vue {
    form = {
        search: ''
    };
    isOpen: boolean = false;

    @Watch('form.search')
    onSearchUpdate() {
        dpDoctorFacilityAutocompleteStore.searchDoctorFacilities(this.form.search)
        this.isOpen = true;
    };

    @Watch('doctorFacilitiesResults')
    onResultsChange() {
        if (this.doctorFacilitiesResults.length === 1 && this.doctorFacilitiesResults[0].id === widgetGeneratorStore.selectedProfile?.id) {
            this.isOpen = false;
        }
    }

    get doctorFacilitiesResults() {
        return dpDoctorFacilityAutocompleteStore.doctorFacilityList;
    }

    selectDoctorFacility(doctorFacility: Doctor | Facility){
        this.form.search = doctorFacility.url;
        this.isOpen = false;

        this.$emit('profile-selected', doctorFacility)
    }

    getSurname(doctorFacility: Doctor | Facility) {
        return doctorFacility instanceof Doctor ? doctorFacility.surname : ''
    }
}
</script>

<style lang="scss">
.dp-doctor-facility-autocomplete {
    .results-list {
        position: absolute;
        list-style: none;
        padding: 15px 0;
        background: #fff;
        z-index: 1;
        border: 1px solid #ced4da;
        border-radius: 3px;
        margin-top: 5px;
        width: 100%;

        li {
            padding: 10px 15px;

            img {
                width: 30px;
                margin-right: 15px;
            }

            &:hover {
                background-color: #eef4fd;
            }
        }
    }
}
</style>
