<template>
  	<div class="widget-generator container">
        <div class="row">
            <div class="col-lg-5">
                <DpCard class="widget-generator-card">
                    <template #content>
                        <h3>Create your own widget</h3>

                        <div class="card-description">
                            Connect the profile on ZnanyLekarz with your website. Let your patients make appointments directly and share opinions.
                        </div>

                        <hr />

                        <WidgetGeneratorForm />
                    </template>
                </DpCard>
            </div>
            <div class="col-lg-7 widget-preview">
                <iframe scrolling="no" frameborder="0" :src="widgetLink"></iframe>
                <div class="preview-footer"></div>
            </div>
        </div>
  	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import DpCard from '../_common/DpCard/DpCard.vue';
import WidgetGeneratorForm from './components/WidgetGeneratorForm.vue'

import { widgetGeneratorStore } from './WidgetGenerator.store';

@Component({
    components: {
        DpCard,
        WidgetGeneratorForm
    }
})
export default class WidgetGenerator extends Vue {
    get widgetLink() {
        return widgetGeneratorStore.widgetUrl || '';
    }
}
</script>

<style lang="scss">
.widget-generator {
    &-card {
        h3 {
            font-size: 1.333rem;
        }

        .card-description {
            font-size: 15px;
            color: #627282;
        }
    }

    .widget-preview {
        position: relative;
        padding: 15px 30px;

        &:before {
            left: 15px;
            border: 1px solid #e74c3c;
            content: " ";
            display: block;
            height: 20px;
            position: absolute;
            top: 0;
            width: 20px;
            border-width: 1px 0 0 1px;
        }

        &:after {
            border: 1px solid #e74c3c;
            content: " ";
            display: block;
            height: 20px;
            position: absolute;
            top: 0;
            width: 20px;
            border-width: 1px 1px 0 0;
            right: 15px;
        }

        .preview-footer {
            position: relative;

            &:before {
                border: 1px solid #e74c3c;
                content: " ";
                display: block;
                height: 20px;
                position: absolute;
                top: 0;
                width: 20px;
                border-width: 0 0 1px 1px;
                left: 0;
            }

            &:after {
                border: 1px solid #e74c3c;
                content: " ";
                display: block;
                height: 20px;
                position: absolute;
                top: 0;
                width: 20px;
                border-width: 0 1px 1px 0;
                right: 0;
            }
        }
    }

    iframe {
        border: 0;
        display: block;
        height: 600px;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }
}
</style>
