<template>
  	<div class="dp-types-of-widget-dropdown">
        <b-dropdown :text="selectedWidgetType[0].label">
            <b-dropdown-item v-for="(type, key) in types" :key="key" @click="setWidgetType(type.type)">{{ type.label }}</b-dropdown-item>
        </b-dropdown>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import { WidgetTypeEnum } from '@/models/Widget';

@Component({})
export default class DpTypesOfWidgetDropdown extends Vue {
    types = [
        {
            type: WidgetTypeEnum.WITH_CALENDAR,
            label: 'With a calendar'
        },
        {
            type: WidgetTypeEnum.SIMPLE_LINK,
            label: 'Simple link'
        },
        {
            type: WidgetTypeEnum.BUTTON,
            label: 'Button'
        }
    ];

    @Prop()
    readonly selectedType!: WidgetTypeEnum

    get selectedWidgetType() {
        return this.types.filter(type => type.type === this.selectedType);
    }

    setWidgetType(type: WidgetTypeEnum) {
        this.$emit('type-selected', type);
    }
}
</script>

<style lang="scss">
.dp-types-of-widget-dropdown {
    .dropdown {
        width: 100%;

        .btn {
            text-align: left;
            background-color: transparent;
            color: #2c3e50;
            font-size: 15px;
            border-color: #ced4da;

            &:after {
                position: absolute;
                right: 15px;
                top: 15px;
            }
        }

        ul {
            width: 100%;        
        }
    }
}
</style>
