<template>
  	<div class="header">
        <div class="container">
            Docplanner
        </div>
  	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class Header extends Vue {}
</script>

<style lang="scss">
.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: #00c3a5;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding: 0 15px;
}
</style>
