<template>
  	<div class="dp-card card card-shadow-1 mb-1">
        <div class="card-body">
            <slot name="content" />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class DpCard extends Vue {}
</script>

<style lang="scss">

</style>
