<template>
  	<div id="app">
		<div class="header-section">
			<Header />
		</div>
		<div class="content-section container">
			<WidgetGenerator />
		</div>
  	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Header from './components/Header/Header.vue';
import WidgetGenerator from './components/WidgetGenerator/WidgetGenerator.vue';

@Component({
  	components: {
		Header,
		WidgetGenerator
  	},
})
export default class App extends Vue {}
</script>

<style lang="scss">

body {
	margin: 0;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-size: 15px !important;
  	color: #2c3e50;
	background-color: #edeff2 !important;

	a {
		text-decoration: none;
	}

	.widget-generator {
		margin: 40px 0;
	}
}
</style>
